# ==========================================
# IDE & Tools (JetBrains, VS, VS Code)
# ==========================================

# JetBrains (Rider, WebStorm, DataGrip)
.idea/
*.sln.iml
*.ids
*.xml
# DataGrip spezifisch
dataSources/
dataSources.local.xml

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
_ReSharper.Caches/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# ==========================================
# Backend (.NET / C#)
# ==========================================

bin/
obj/
[Dd]ebug/
[Rr]elease/
publish/
*.swp
*.*~

# NuGet
packages/
*.nuget.props
*.nuget.targets
project.lock.json

# ==========================================
# Frontend (Angular / Node / WebStorm)
# ==========================================

node_modules/
dist/
.angular/
.npm/
.yarn/
*-debug.log*
*-error.log*
.eslintcache

# ==========================================
# Infrastructure & Environment
# ==========================================

.env
.env.*.local
appsettings.Development.json
.dockerignore
Thumbs.db
.DS_Store